html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#quote { 
    width: 40%;
    margin-left: 30%;
}

#weather {
    font-size: 40px;
}

#weatherImage {
    height: 50px;
    width:  50px;
}